#searchUI {
  margin-left: 16px;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
}

#eventList {
  margin-left: 16px;
  margin-top: 16px;
}

.searchEle, .eventItem {
  margin-right: 8px;
}

#react-paginate {
  margin-left: 32px;
}
