#colGrid {
  display: flex;
  flex-direction: column;
}

.rowGrid {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 20px;
  height: 20px;

  background: #c0c0c0;
  box-sizing: border-box;
}

.uncovered {
  border: solid #808080;
  border-width: 0 1px 1px 0;
}
