#gameGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 500px;
}

#controls {
  grid-column: span 2;
}

#visualizer {
  grid-column: span 2;
}

.pinRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pin {
  margin-left: 10px;
  margin-right: 10px;
}
